@model IEnumerable<eva22mdtt.Models.multiple>

@{
    ViewBag.Title = "Busquedas";
    Layout = "~/Views/Shared/PlantillaParaTodo.cshtml";
}

<h2>Busquedas</h2>
<h3>Listado de Productos por Categorias</h3>
<br>

<table class="table">
    <tr>
        <th>ID Categoria</th>
        <th>N.Categorias</th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th>ID Producto</th>
        <th>Nombre Producto</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Stock</th>
    </tr>

    @foreach (var item in Model)
            {
                <tr>
                    <td>@item.cates.idCategoria</td>
                    <td>@item.cates.nombre</td>
                    <td> -- </td>
                    <td>  </td>
                    <td>  </td>
                    <td>@item.prods.idProducto</td>
                    <td>@item.prods.nombre</td>
                    <td>@item.prods.descripcion</td>
                    <td>@item.prods.precio</td>
                    <td>@item.prods.stock</td>
                </tr>
            }
</table>